body {
    margin: 0;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px
}
header h1 {
    color: #fff;
    padding: 10px 30px;
    margin: 0;
    background: #333
}
#logo {
    float: left;
    width: 40px;
    height: 40px;
    margin: 9px 20px 8px 20px;
    background: #333 url(https://avatars2.githubusercontent.com/u/6337289?v=3&s=200) left center no-repeat;
    background-size: 40px;
    border-radius: 20px
}
#main {
    overflow: hidden;
    border-bottom: 1px #e2e2e2 solid
}
#menu {
    width: 200px;
    float: left
}
#content {
    margin-left: 200px;
    min-height: 500px;
    border-left: 1px #e2e2e2 solid
}
footer {
    height: 40px;
    line-height: 40px;
    text-align: center
}
footer a {
    color: #333;
    text-decoration: none
}

.block {
    padding-left: 20px;
    margin: 10px 0;
    line-height: 30px
}
.block label.title {
    display: inline-block;
    width: 110px;
    vertical-align: middle
}
.cost-data tr th:first-child, .cost-data tr td:first-child {
    border-left: 0
}
.page-group {
    overflow: hidden;
    height: 30px
}
.page-group .page-size {
    float: left;
    margin-right: 10px
}
.page-group .page {
    float: left
}
.page-group .page-number {
    float: left;
    margin-right: 10px;
    width: 30px
}
.page-group .go {
    float: left
}
.page-group .text {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px
}
.page-group .selectBox-dropdown {
    min-width: 65px
}
#description {
    width: 400px;
    height: 200px
}
