<h3>Switch</h3>

<div class="example">
<input type="checkbox" title="switch" checked>
</div>

<h4>HTML</h4>
<pre><code class="xml">
    &lt;input type="checkbox" title="switch" checked&gt;

</code></pre>

<h4>JavaScript</h4>
<pre><code class="js">
    $(':checkbox').bizSwitch({
        theme: 'green'
    });

</code></pre>

<h4>Options</h4>
<table class="options">
    <tr>
        <th>参数名称</th>
        <th>参数类型</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>[theme]</td>
        <td>String</td>
        <td>主题</td>
    </tr>
</table>

<h4>Methods</h4>
<div class="methods">
<h4>destroy()</h4>
<p class="des">销毁</p>
</div>

<div class="methods">
<h4>disable()</h4>
<p class="des">禁用</p>
</div>

<div class="methods">
<h4>enable()</h4>
<p class="des">激活</p>
</div>

<div class="methods">
<h4>off()</h4>
<p class="des">关闭</p>
</div>

<div class="methods">
<h4>on()</h4>
<p class="des">打开</p>
</div>

<div class="methods">
<h4>val()</h4>
<p class="des">获取当前状态</p>
</div>
