/**
 * Calendar
 */

.biz-calendar {
    background: url(img/bizui.png) right -355px no-repeat
}
.biz-range {
    display: inline-block
}
.datepicker {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-radius: 0;
    padding: 0
}
.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    display: none;
    min-width: 160px;
    list-style: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height: 30px
}
.datepicker table {
    border-collapse: collapse
}
.datepicker tbody td {
    border-width: 1px;
    border-style: solid
}
.datepicker-days thead tr:last-child {
    font-weight: normal
}
.datepicker-dropdown:before,
.datepicker-dropdown:after {
    display: none
}