/**
 * Dialog
 */

.biz-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    box-shadow: 0 0 8px #888;
    z-index: 1001;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif
}
.biz-dialog-title {
    margin: 0;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    background: #707070;
    position: relative
}
.biz-dialog-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 10px;
    height: 10px;
    background: url(img/bizui.png) 0 -300px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .5s ease-in-out
}
.biz-dialog-close:hover {
    -webkit-transform: rotate(90deg)
}
.biz-dialog-content {
    padding: 20px;
    font-size: 14px;
    overflow: auto
}
.biz-dialog-bottom {
    padding: 20px 0;
    height: 30px;
    text-align: center
}
.biz-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
    z-index: 1000
}
