/**
 * DropDownContext
 */

.biz-dropdown-context {
    position: absolute;
    box-shadow: 0 0 8px #888;
    background-color: #fff;
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif
}