/**
 * Input, Textarea
 */

.biz-input,
.biz-textarea {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    vertical-align: middle
}
.biz-input {
    height: 18px;
    line-height: 18px
}
.biz-textarea {
    line-height: 20px;
    resize: none
}
