/**
 * Radio
 */

.biz-label {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding-left: 20px;
    margin-right: 10px;
    height: 19px;
    line-height: 19px;
    display: inline-block;
    background-image: url(img/bizui.png);
    background-repeat: no-repeat;
    vertical-align: middle
}
.biz-radio-unchecked {
    background-position: 0 -120px
}
.biz-radio-unchecked-hover {
    background-position: 0 -140px
}
.biz-radio-checked {
    background-position: 0 -160px
}
.biz-radio-checked-hover {
    background-position: 0 -180px
}
.biz-radio-unchecked-disabled {
    background-position: 0 -200px;
    cursor: default
}
.biz-radio-checked-disabled {
    background-position: 0 -220px;
    cursor: default
}