/**
 * Select
 */

.selectBox-dropdown {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid
}
.selectBox-dropdown .selectBox-label {
    padding: 0 8px
}
.selectBox-dropdown .selectBox-arrow {
    border-left: 0;
    background: url(img/bizui.png) 6px -240px;
}
.selectBox-dropdown:hover .selectBox-arrow,
.selectBox-dropdown:focus .selectBox-arrow {
    border-left: 0;
    background: url(img/bizui.png) 6px -270px;
}
.selectBox-dropdown-menu {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-width: 1px;
    border-style: solid
}
.selectBox-options.selectBox-options-top,
.selectBox-options.selectBox-options-bottom {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}
.selectBox-options li a {
    line-height: 28px
}
.selectBox-disabled:hover .selectBox-arrow,
.selectBox-disabled:focus .selectBox-arrow {
    border-left: 0;
    background: url(img/bizui.png) 6px -240px;
}
