/**
 * Table
 */

.biz-table-head-wrap,
.biz-table-body-wrap {
    overflow-x: auto;
    overflow-y: hidden
}

.biz-table-placeholder {
    height: 0px
}

.biz-table {
    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    border: 0;
    border-collapse: collapse;
    table-layout: fixed
}

.biz-table th {
    padding: 5px 8px;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    font-weight: normal
}

.biz-table div.sortable {
    cursor: pointer;
    position: relative;
}

.biz-table div.sortable:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 5px;
    right: 12px;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent #fff;
    /*透明 透明  白*/
}

.biz-table div.sortable:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 1px;
    right: 12px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #fff transparent transparent;
    /*灰 透明 透明 */
}

.biz-table div[asc]:before {
    border-color: transparent transparent #13BD31;
    /*透明 透明 绿色选中效果 */
}

.biz-table div[des]:after {
    border-color: #13BD31 transparent transparent;
    /*绿色选中效果 透明  透明*/
}

.biz-table td {
    border-width: 1px;
    border-style: solid;
    padding: 5px 8px;
    outline: none;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden
}

.biz-table tr.sum {
    font-weight: bold
}

.biz-table tr.no-data td {
    text-align: center
}

.biz-table .biz-label {
    margin-right: 0
}

.biz-table .biz-checkbox-unchecked {
    background-position: 2px 0
}

.biz-table .biz-checkbox-unchecked-hover {
    background-position: 2px -20px
}

.biz-table .biz-checkbox-checked {
    background-position: 2px -40px
}

.biz-table .biz-checkbox-checked-hover {
    background-position: 2px -60px
}

.biz-table .biz-checkbox-unchecked-disabled {
    background-position: 2px -80px
}

.biz-table .biz-checkbox-checked-disabled {
    background-position: 2px -100px
}
.biz-table .biz-table-select-disabled .biz-checkbox-unchecked-disabled {
    opacity: 0.4;
}
.biz-table td[editable] {
    padding-right: 30px;
    background-image: url(img/edit.png);
    background-position: right center;
    background-repeat: no-repeat
}

.biz-table td[editable]:hover {
    cursor: pointer
}

.biz-table-editor {
    border-width: 1px;
    border-style: solid;
    outline: none
}

.biz-treetable {
    border-width: 1px;
    border-style: solid
}

.biz-treetable td {
    text-align: left;
    cursor: default;
    border-width: 0
}

.biz-treetable span.indenter {
    display: inline-block;
    width: 19px
}

.biz-treetable span.indenter a {
    display: inline-block;
    width: 19px;
    background-position: left center;
    background-repeat: no-repeat;
    text-decoration: none;
    outline: none
}