/**
 * high priority color
 */

.biz-button-disable,
.biz-button-disable:hover {
    background-color: #dedede;
    color: #b6b6b6
}
.selectBox-disabled:hover,
.selectBox-disabled:focus {
    border-color: #e2e2e2
}
