.biz-button,
.biz-textline div {
    background-color: #007aff;
}
.biz-input-focus,
.biz-textarea-focus,
.biz-textline textarea.biz-textline-focus,
.selectBox-dropdown:hover,
.selectBox-dropdown:focus,
.selectBox-dropdown-menu,
.biz-table-editor {
    border-color: #007aff;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover,
.light-theme .current {
    background-color: #007aff;
    border-color: #007aff;
}
/**
 * primary hover color
 */

.biz-button:hover {
    background-color: #3395ff;
}
.biz-button:active {
    background-color: #006ee6;
}
.selectBox-options li.selectBox-hover a,
.biz-table tr.selected,
.biz-table tr:hover {
    background-color: #e5f2ff;
}
/**
 * assistant color
 */

.biz-button-dark,
.biz-dialog-title,
.biz-panel-title,
.biz-tab > ul li,
.jstree-default .jstree-wholerow-hovered,
.biz-table th,
.datepicker table {
    background-color: #707070;
}
/**
 * assistant hover color
 */

.biz-button-dark:hover,
.biz-tab > ul li:hover,
.datepicker-days thead tr:first-child th:hover,
.datepicker-months thead tr:first-child th:hover,
.datepicker-years thead tr:first-child th:hover {
    background-color: #8a8a8a;
}
.biz-table th[sortable]:hover {
    background-color: #7d7d7d;
}
.biz-button-dark:active {
    background-color: #636363;
}
/**
 * high priority color
 */

.biz-treetable tr.tree-selected,
.jstree-default .jstree-wholerow-clicked,
.selectBox-options li.selectBox-selected a {
    background: #007aff;
}
/**
 * text color
 */

.biz-button,
.biz-button-dark,
.biz-textline pre,
.light-theme .current,
.biz-dialog-title,
.biz-panel-title,
.biz-tab > ul li,
.jstree-default .jstree-wholerow-hovered,
.jstree-default .jstree-wholerow-clicked,
.selectBox-options li.selectBox-selected a,
.biz-table th,
.biz-treetable tr.tree-selected {
    color: #ffffff;
}
/**
 * high priority color
 */

.biz-button-disable,
.biz-button-disable:hover {
    background-color: #dedede;
    color: #b6b6b6;
}
.selectBox-disabled:hover,
.selectBox-disabled:focus {
    border-color: #e2e2e2;
}
