/*
* @Author: xiongsheng
* @Date:   2016-11-01 18:11:04
* @Last Modified by:   xiongsheng
* @Last Modified time: 2016-11-01 18:11:36
*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.biz-transfer  {
    position: relative;
    line-height: 1.5;
}

.biz-transfer-list {
    font-size: 12px;
    border: 1px solid #d9d9d9;
    display: inline-block;
    border-radius: 6px;
    vertical-align: middle;
    position: relative;
    width: 180px;
    height: 200px;
    padding-top: 33px;

}

.biz-transfer-list-content {
    height: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

.biz-transfer-list-content-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 16px;
}

.biz-transfer-disabled {
    cursor: not-allowed;
    color: #ccc;
}

.biz-transfer-list-header {
    padding: 7px 16px;
    border-radius: 6px 6px 0 0;
    background: #fff;
    color: #666;
    border-bottom: 1px solid #e9e9e9;
    box-sizing:border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.biz-transfer-list-header .biz-label {
    float: left;
    margin-right: 0px;
}

.biz-transfer-list-header span {
    margin-right: 20px;
}

.biz-transfer-list-body {
    font-size: 12px;
    position: relative;
    height: 100%;
}


.biz-transfer-operation {
    display: inline-block;
    overflow: hidden;
    margin: 0 8px;
    vertical-align: middle;
}


.biz-transfer-operation button {
    display: block;
    margin: 5px;
}

.icon-left {
    width: 20px;
    height: 10px;
    display: inline-block;
    background: url(./img/line_arrow_left.png);
    background-size: 20px 10px;
}

.icon-right {
    width: 20px;
    height: 10px;
    display: inline-block;
    background: url(./img/line_arrow_right.png);
    background-size: 20px 10px;
}

.biz-transfer-button {
    background-color: #eaeaea;;
}

.biz-transfer-button:hover {
    background-color: #e5efff;
}
